* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

div.fighter {
    background-image: url("../img/street-fighter-ryu-sprite-sheet.png");
    width: 60px;
    height: 100px;
    animation: spinning_kick 3s steps(8) infinite;
}

@keyframes spinning_kick {
    from {
        background-position: 0% -100px;
    }

    to {
        background-position: 100% -100px;
    }
}

body::-webkit-scrollbar {
    display: none;
}

.audiowide-regular {
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.funnel-sans {
    font-family: "Funnel Sans", sans-serif;
    font-style: normal;
}

#wrapper {
    display: grid;
    background-color: black;
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 10vh 15vh 5vh 20vh 45vh 17vh 15vh 35vh 25vh 30vh;
    grid-template-areas:
        "nv nv"
        "hd hd"
        "d1 a1"
        "i1 a1"
        "i1 a1"
        "i1 d3"
        "d2 i2"
        "a2 i2"
        "a2 d4"
        "ft ft";
}

#Header {
    grid-area: hd;
}

#a1 {
    grid-area: a1;
}

#a2 {
    grid-area: a2;
}

#i2 {
    grid-area: i2;
    justify-self: center;
    height: 60vh;
    border-radius: 30%;
}

#i1 {
    grid-area: i1;
    justify-self: center;
    height: 60vh;
    border-radius: 30%;
}
#wrapper_ki1 {
    display: grid;
    background-color: black;
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 10vh 15vh 5vh 15vh 45vh 17vh 15vh 55vh 30vh 30vh;
    grid-template-areas:
        "nv nv"
        "hk hk"
        "d1 a3"
        "i3 a3"
        "i3 a3"
        "i3 d3"
        "d2 i4"
        "a4 i4"
        "a4 d4"
        "ft ft";
}
#wrapper_ki {
    display: grid;
    background-color: black;
    grid-template-columns: 50vw 25vw 25vw;
    grid-template-rows: 10vh 15vh 70vh 10vh 45vh 5vh;
    grid-template-areas:
        "nv nv nv"
        "hk hk hk"
        "i3 a3 a3"
        "d2 d2 d2"
        "a4 a4 a4"
        "ft ft ft";
}

#Header_ki {
    grid-area: hk;
}

#a3 {
    grid-area: a3;
}

#a4 {
    grid-area: a4;
}

#i3 {
    grid-area: i3;
    justify-self: center;
    height: 70vh;
    border-radius: 20%;
}

.links{
    
    color: crimson;
}

#wrapper_ka2 {
    display: grid;
    background-color: black;
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 10vh 15vh 5vh 15vh 45vh 17vh 15vh 55vh 30vh 30vh;
    grid-template-areas:
        "nv nv"
        "ha ha"
        "d1 a5"
        "i5 a5"
        "i5 a5"
        "i5 d3"
        "d2 i6"
        "a6 i6"
        "a6 d4"
        "ft ft";
}

#wrapper_ka {
    display: grid;
    background-color: black;
    column-gap: 10px;
    grid-template-columns:24vw 24vw 24vw 24vw; 
    grid-template-rows: 10vh 15vh 25vh 40vh 45vh 20vh 15vh 30vh 30vh 30vh;
    grid-template-areas:
        "nv nv nv nv"
        "ha ha ha ha"
        "a5 a5 a5 a5"
        "i6 i6 i6 i6"
        "i6 i6 i6 i6"
        "d2 d2 d4 d4"
        "kt kt kt kt"
        "sa yo go te"
        "sp yp gp tp"       
        "ft ft ft ft";
}

#Header_ka {
    grid-area: ha;
}

#i5 {
    grid-area: i5;
    justify-self: center;
    width: 30vw;
    height: 120vh;
}

#i6 {
    grid-area: i6;
    justify-self: center;
    width: 65vw;
}

#a5 {
    grid-area: a5;
}

#san {
    grid-area: sa;
    color: white;
    background-color: black;
    border-top-right-radius: 20%;
    border-top-left-radius: 20%;
    font-size: larger;
    align-content: center;
    overflow: auto;
    text-align: center;
}

#yon {
    grid-area: yo;
    color: black;
    background-color: white;
    border-top-right-radius: 20%;
    border-top-left-radius: 20%;
    font-size: larger;
    align-content: center;
    overflow: auto;
    text-align: center;
}

#god {
    grid-area: go;
    color: white;
    background-color: black;
    border-top-right-radius: 20%;
    border-top-left-radius: 20%;
    font-size: larger;
    align-content: center;
    overflow: auto;
    text-align: center;
}

#tek{
    grid-area: te;
    color: black;
    background-color: white;
    border-top-right-radius: 20%;
    border-top-left-radius: 20%;
    font-size: larger;
    align-content: center;
    overflow: auto;
    text-align: center;
}

#tek_s{
    grid-area: sp;
    width: 24vw;
    display: flex;
    justify-content: center;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
}

#yon_y{
    grid-area: yp;
    width: 24vw;
    display: flex;
    justify-content: center;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
}

#god_g{
    grid-area: gp;
    width: 24vw;
    display: flex;
    justify-content: center;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
}

#tek_t{
    grid-area: tp;
    width: 24vw;
    display: flex;
    justify-content: center;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
}

#kator{
    grid-area: kt;
}
#wrapper_ku1 {
    display: grid;
    background-color: black;
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 10vh 15vh 5vh 15vh 45vh 17vh 15vh 75vh 30vh 30vh;
    grid-template-areas:
        "nv nv"
        "hu hu"
        "d1 a7"
        "i7 a7"
        "i7 a7"
        "i7 d3"
        "d2 i8"
        "a8 i8"
        "a8 d4"
        "ft ft";
}
#wrapper_ku {
    display: grid;
    background-color: black;
    grid-template-columns: 33vw 34vw 33;
    grid-template-rows: 10vh 15vh 90vh 30vh 40vh 10vh 70vh 5vh;
    grid-template-areas:
        "nv nv nv"
        "hu hu hu"
        "i7 i8 i9"
        "d2 d2 d2"
        "a7 a7 a7"
        "d4 d4 d4"
        "a8 a8 a8"
        "ft ft ft";
}

#Header_ku {
    grid-area: hu;
}

#i7 {
    grid-area: i7;
    justify-self: center;
    width: 33vw;
}

#i8 {
    grid-area: i8;
    justify-self: center;
    width: 33vw;
}
#i9{
    grid-area: i9;
    width: 33vw;
}

#a7 {
    grid-area: a7;
}

#a8 {
    grid-area: a8;
}

nav {
    grid-area: nv;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

h1 {
    color: white;
    font-size: xx-large;
    text-align: center;
    background-color: black;
    font-family: "Audiowide", sans-serif;
}

h2 {
    font-size: x-large;
    text-align: center;
    background-color: black;
    color: white;
    font-family: "Audiowide", sans-serif;
}

img {
    object-fit: contain;
    align-self: center;
}

article {
    background-color: black;
    color: white;
    padding: 20px;
    font-family: "Funnel Sans", sans-serif;
}

ul {
    background-color: black;
    color: white;
    padding: 20px;
    margin: 20px;
    font-family: "Funnel Sans", sans-serif;
}

footer {
    grid-area: ft;
    background-color: black;
}

#divider {
    grid-area: d1;
    justify-self: center;
}

#divider_2 {
    grid-area: d2;
    justify-self: center;
}

#divider_3 {
    grid-area: d3;
    justify-self: center;
}

#divider_4 {
    grid-area: d4;
    justify-self: center;
}

.fade-layer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 5;
}

.fade-layer.visible {
    display: block;
}

.menu {
    height: 100vh;
    width: 80vw;
    position: fixed;
    top: 0;
    left: -90vw;
    transition: left 3s;
    box-shadow: 10px 0px 21px -10px rgba(0, 0, 0, 0.75);
    z-index: 10;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: x-large;
    font-family: "Funnel Sans", sans-serif;
}

.menu-button {
    cursor: pointer;
    display: inline;
}

.show {
    left: 0;
}

#icon {
    width: 55px;
    height: 40px;
}

.sidor {
    color: white;
    text-decoration: none;
}

.sidor:hover {
    color: crimson;
    font-size: xx-large;
}

@media screen and (max-width: 600px) {
    * {
        box-sizing: border-box;
        padding: 0px;
        margin: 0;
        row-gap: 5vh;
    }

    img {
        width: 100vw;
    }

    nav {
        height: 6vh;
    }

    #wrapper {
        display: grid;
        background-color: black;
        grid-template-columns: 100vw;
        grid-template-rows: 6vh 15vh 6vh 70vh 15vh 95vh 15vh 70vh 15vh 65vh 10vh;
        grid-template-areas:
            "nv"
            "hd"
            "d1"
            "i1"
            "d2"
            "a1"
            "d3"
            "i2"
            "d4"
            "a2"
            "ft"
    }

    #i1 {
        grid-area: i1;
        border-radius: 40%;
        height: 70vh;
    }

    #i2 {
        height: 70vh;
        border-radius: 40%;
    }

    #i3 {
        border-radius: 40%;
        height: 70vh;
    }

    #i4 {
        height: 80vh;
        border-radius: 40%;
    }

    #i5 {
        border-radius: 40%;
        height: 70vh;
    }

    #i6 {
        height: 80vh;
        border-radius: 40%;
    }
    #i7 {
        height: 80vh;
        border-radius: 40%;
    }
    #i8{
        height: 0vh;
    }
    #i7{
        height: 0vh;
    }
    #i9{
        height: 0vh;
    }
    #san {
        grid-area: sa;
        color: white;
        background-color: black;
        font-size: larger;
        align-content: center;
        overflow: auto;
        text-align: center;
    }
    
    #yon {
        grid-area: yo;
        color: white;
        font-size: larger;
        align-content: center;
        overflow: auto;
        text-align: center;
    }
    
    #god {
        grid-area: go;
        color: white;
        font-size: larger;
        align-content: center;
        overflow: auto;
        text-align: center;
    }
    
    #tek{
        grid-area: te;
        color: white;
        font-size: larger;
        align-content: center;
        overflow: auto;
        text-align: center;
    }
    
    #wrapper_ki {
        display: grid;
        background-color: black;
        grid-template-columns: 100vw;
        grid-template-rows: 6vh 15vh 70vh 15vh 70vh 100vh 10vh;
        grid-template-areas:
            "nv"
            "hk"
            "i3"
            "d2"
            "a3"
            "a4"
            "ft"
    }

    #wrapper_ka {
        display: grid;
        background-color: black;
        grid-template-columns: 100vw;
        grid-template-rows: 6vh 15vh 35vh 10vh 15vh 70vh 15vh 15vh 15vh 15vh 95vh 10vh;
        grid-template-areas:
            "nv"
            "ha"
            "a5"
            "d1"
            "d2"
            "kt"
            "sa"
            "yo"
            "go"
            "te"
            "d4"
            "a6"
            "ft"
    }

    #wrapper_ku {
        display: grid;
        background-color: black;
        grid-template-columns: 100vw;
        grid-template-rows: 6vh 15vh 7vh 50vh 15vh 115vh 10vh;
        grid-template-areas:
            "nv"
            "hu"
            "d2"
            "a7"
            "d4"
            "a8"
            "ft"
    }

}