
*{
    box-sizing:border-box;
    padding: 0;
    margin: 0;
    
}
#wrapper{
display: grid;
background-color: black;
grid-template-columns: 25vw 25vw 30vw 20vw;
grid-template-rows: 10vh 15vh 55vh 30vh 10vh;
grid-gap: 10px;
grid-template-areas: 
"hd hd hd nv"
"hd hd hd nv"
"i1 i1 a1 a1"
"a2 a2 i2 i2"
"ft ft ft ft"
}
h1{
color: white;
grid-area: hd;
font-size: xx-large;
text-align: center;
background-color: black;
}

nav{
background-color: black;
grid-area: nv;
}
img{
    object-fit: contain;
}

#i1{
border-radius: 40%;
grid-area: i1;
display: flex;
align-items: center;
height: 70vh;
}
#i2{
border-radius: 40%;
grid-area: i2;
height: 70vh;
display: flex;
align-items: center;
}

#a1{
grid-area: a1;
}
article{
    background-color:black;
    color:white;
    padding: 20px;
}
#a2{
grid-area: a2;

}
footer{
grid-area: ft;
background-color: black;
}
img{
    align-self: center;
}
#divider{
    grid-area: d1;
}
#divider_2{
    grid-area: d2;
}
#divider_3{
    grid-area: d3;
}
#divider_4{
    grid-area: d4;
}
#Kihon{
    grid-area: ki;
}
#Kata{
    grid-area: ka;
}
#Kumite{
    grid-area: ku;
}
ul{
    color: white;
}
@media screen and (max-width: 600px){
    *{
        box-sizing:border-box;
        padding: 0px;
        margin: 0;
        row-gap: 5vh;
    }
    
    body{
        background-color: white;
    }
    img{
        width: 100vw;
        height: 80vh;
}
  
    #wrapper{
        display: grid;
        background-color: black;
        grid-template-columns: 100vw;
        grid-template-rows: 6vh 15vh 6vh 70vh 15vh 70vh 15vh 70vh 15vh 50vh 10vh;
        grid-template-areas: 
        "nv"
        "hd"
        "d1"
        "i1"
        "d2"
        "a1"
        "d3"
        "i2"
        "d4"
        "a2"
        "ft"
        }
        nav{
        grid-area: nv; 
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 6vh;
        }
    
    .fade-layer{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5);
        display: none;
        z-index: 5;
    }
    .fade-layer.visible{
        display: block;
    }
    .menu{
        height: 100vh;
        width: 80vw;
        position: fixed;
        top: 0;
        left: -90vw;
        transition: left 0.3s;
        box-shadow: 10px 0px 21px -10px rgba(0,0,0,0.75);
        z-index: 10;
        background-color: black;
        color: white;
        display: flex;
        align-items: center;
        justify-content:center;
        font-size: x-large;
    }
    .menu-button{
        cursor: pointer;
        display: inline;
        
    }
    .show{
        left: 0;
    }
#icon{
    width: 55px;
    height: 40px;
}
}


